<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Course Website Merge - Log In</title>
    </head>
    <body>
        <h1>Log In:</h1>
        <form action="/login" method="POST">
            <label for="username">Username: </label><br>
            <input type="text" id="username" name="username" required><br>
            <label for="password">Password: </label><br>
            <input type="password" id="password" name="password" required><br><br>
            <input type="submit" value="Submit"><br>
        </form>
    </body>
</html>